---
import astronautHelmet from "./astronaut-helmet.svg?url"
---

<header
  class="relative h-16 bg-cover bg-no-repeat"
  style="background-image: url('header_bg.jpeg'); background-position: 50% 70%;"
>
  <div class="absolute inset-0 bg-purple-900 opacity-50"></div>
  <div class="absolute inset-0 flex items-center mx-auto text-white px-4">
    <img class="mx-8" src={astronautHelmet} width="40px" />
    <span class="text-5xl tracking-tight font-bold">EMIT</span>
    <span class="ml-auto lg:mr-60 uppercase font-semibold">
      Earth surface mineral dust <br />source investigation</span
    >
  </div>
</header>
