<section class="bg-purple-800 text-white">
  <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 lg:gap-16 px-4 py-16">
    <div class="rounded-xl">
      <img class="rounded-xl" src="EMIT.jpg" width="600px" />
    </div>
    <div class="place-self-center">
      <h1 class="text-4xl font-bold tracking-tight mb-4">¿Qué es?</h1>
      <p class="font-medium">
        El instrumento EMIT es un espectrómetro de imágenes (un invento de la NASA ampliamente
        utilizado en las misiones espaciales de la agencia) que medirá la luz en longitudes de onda
        visibles e infrarrojas. Cuando las distintas longitudes de onda de la luz (el espectro) se
        distribuyen a través del detector del instrumento, muestran firmas espectrales únicas que
        indican la composición mineral de la superficie. EMIT adquirirá más de 100.000 espectros de
        este tipo por segundo, mapeando la composición de los minerales en la superficie de la
        Tierra.
      </p>
    </div>
  </div>
</section>
