<section class="bg-rose-500 text-white">
  <div class="max-w-screen-xl mx-auto grid md:grid-cols-1 gap-8 lg:gap-16 px-4 py-16">
    <div class="mx-auto">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="rounded-xl" src="slider/1.png" width="600px" />
            <h2 class="text-3xl font-bold tracking-tight mb-4 place-self-center">
              Mapeo de Gases de Efecto Invernadero
            </h2>
            <p class="font-light">
              El dióxido de carbono y el metano son los dos gases dominantes que contribuyen
               al cambio climático. El metano atrapa más calor en la atmósfera por molécula 
               que el dióxido de carbono, por lo que apuntar a la reducción de las emisiones 
               antropogénicas de metano ofrece un enfoque eficaz para disminuir el calentamiento 
               atmosférico general. El metano y el dióxido de carbono tienen características de 
               absorción distintas en el infrarrojo de onda corta (1800-2500 nm) que permiten la 
               detección y el mapeo de emisiones puntuales de gases de efecto invernadero con 
               datos EMIT. La identificación de fuertes fuentes de emisiones ofrece el potencial 
               de mejorar nuestra comprensión de las emisiones antropogénicas y mitigarlas. 
               Por ejemplo, los operadores de petróleo y gas pueden localizar y reparar fugas 
               que son costosas y dañinas para el medio ambiente, lo que brinda una oportunidad 
               beneficiosa para todos. Otros sectores podrían utilizar esta información para 
               identificar oportunidades de captura de metano para quemarlo o convertirlo en recursos combustibles.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="rounded-xl" src="slider/2.png" width="600px" />
            <h2 class="text-3xl font-bold tracking-tight mb-4 text-ellipsis">
              Propiedades de la Nieve y Recursos Hídricos
            </h2>
            <p class="font-light">
              El aumento del derretimiento de la nieve y el hielo hace que la Tierra absorba más la luz solar y desplaza 
              enormes volúmenes de agua almacenada desde la superficie terrestre, elevando el nivel del mar y cambiando 
              la disponibilidad de agua para grandes poblaciones. Con una mayor absorción solar, en parte debido a la 
              pérdida de superficies de hielo y nieve altamente reflectantes, el calentamiento y el derretimiento comienzan
              notablemente antes en la temporada de nieve. A pesar de este papel crucial del brillo (albedo) de la nieve, 
              las escasas mediciones nos han impedido comprender la distribución global de los controles sobre el albedo de 
              la nieve, el tamaño de los granos y el forzamiento radiativo de las partículas absorbentes de luz. A su vez, 
              este vacío nos ha impedido modelar con precisión los procesos de la criosfera en todo el mundo. Las precisiones 
              necesarias para comprender el papel relativo de los cambios en el albedo y el forzamiento radiativo de los GEI 
              en los cambios en el calentamiento y el derretimiento de la nieve requieren la capacidad de resolución espectral 
              del espectrómetro de imágenes VSWIR.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="rounded-xl" src="slider/3.png" width="600px" />
            <h2 class="text-3xl font-bold tracking-tight mb-4 place-self-center">
              Mapeo de Gases de Efecto Invernadero
            </h2>
            <p class="font-light">
              El dióxido de carbono y el metano son los dos gases dominantes que contribuyen
               al cambio climático. El metano atrapa más calor en la atmósfera por molécula 
               que el dióxido de carbono, por lo que apuntar a la reducción de las emisiones 
               antropogénicas de metano ofrece un enfoque eficaz para disminuir el calentamiento 
               atmosférico general. El metano y el dióxido de carbono tienen características de 
               absorción distintas en el infrarrojo de onda corta (1800-2500 nm) que permiten la 
               detección y el mapeo de emisiones puntuales de gases de efecto invernadero con 
               datos EMIT. La identificación de fuertes fuentes de emisiones ofrece el potencial 
               de mejorar nuestra comprensión de las emisiones antropogénicas y mitigarlas. 
               Por ejemplo, los operadores de petróleo y gas pueden localizar y reparar fugas 
               que son costosas y dañinas para el medio ambiente, lo que brinda una oportunidad 
               beneficiosa para todos. Otros sectores podrían utilizar esta información para 
               identificar oportunidades de captura de metano para quemarlo o convertirlo en recursos combustibles.
            </p>
          </div>
        </div>
        
    </div>
    
  </div>
</section>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
new Swiper(".swiper", { 
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }, })
</script>
