<main class="bg-white">
  <div class="max-w-screen-2xl mx-auto grid md:grid-cols-2 gap-8 lg:gap-16 p-4">
    <div class="place-self-center">
      <h1 class="text-4xl font-bold tracking-tight mb-4">
        Un instrumento Earth Venture de la NASA instalado en la Estación Espacial Internacional
      </h1>
      <p class="font-medium">
        EMIT será el primer instrumento que utilizará la tecnología de espectrocopia de imágenes
        inventada por la NASA para medir de manera integral la composición mineral de las regiones
        áridas de origen de polvo terrestre de la Tierra.
      </p>
    </div>

    <div>
      <div class="swiper rounded-xl">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="rounded-xl" src="slider/1.png" width="600px" /></div>
          <div class="swiper-slide"><img class="rounded-xl" src="slider/2.png" width="600px" /></div>
          <div class="swiper-slide"><img class="rounded-xl" src="slider/3.png" width="600px" /></div>
        </div>
      </div>
    </div>
  </div>
</main>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
new Swiper(".swiper", { autoplay: { delay: 3000 } })
</script>
