<main class="bg-white">
  <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 lg:gap-16 px-4 py-16">
    <div class="place-self-center">
      <h1 class="text-4xl font-bold tracking-tight mb-4">
        Una nueva manera de visualizar los efectos de la contaminación
      </h1>
      <p class="font-medium">
        Gracias a la tecnología de Earth Surface Mineral Dusst Source Investigation - EMIT
        se pueden visualizar los efectos que tienen los minerales presentes en los diferentes ecosistemas
        del planeta, su impacto en el calentamiento global, en los desastres naturales, en la formación de 
        focos de contaminación, etc
      </p>
      <button class="bg-rose-600 rounded-xl p-3 self-center mt-8">
        <p class="text-white text-2xl font-bold">
          ¡PRUÉBALO!
        </p>
      </button>
    </div>

    <div>
      <div class="swiper rounded-xl">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="rounded-xl" src="slider/1.png" width="600px" /></div>
          <div class="swiper-slide"><img class="rounded-xl" src="slider/2.png" width="600px" /></div>
          <div class="swiper-slide"><img class="rounded-xl" src="slider/3.png" width="600px" /></div>
        </div>
      </div>
    </div>
  </div>
</main>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
new Swiper(".swiper", {loop: "true", autoplay: { delay: 3000 } })
</script>
