<section class="bg-white">
  <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 lg:gap-16 px-4 py-16">
    <div class="place-self-center">
      <h1 class="text-4xl font-bold tracking-tight mb-4">Dentro de Emit</h1>
      <p class="font-medium">
        EMIT incorpora múltiples tecnologías nuevas y avanzadas. El diseño óptico del espectrómetro
        Dyson proporciona un rendimiento de fotones excepcionalmente alto, lo que significa que la
        óptica maximiza la luz que llega al detector. La matriz de detectores utiliza nuevos
        recubrimientos personalizados para maximizar la sensibilidad en todo el rango de longitud de
        onda EMIT. En todo el campo de visión de 72 kilómetros (39 millas) de EMIT, el instrumento
        tiene una respuesta espectral uniforme. Esto permite el uso de los algoritmos de
        procesamiento de datos más avanzados.
      </p>
    </div>

    <div class="rounded-xl">
      <img class="rounded-xl" src="inside_emit.png" width="600px" />
    </div>
  </div>
</section>
